extends ../main_layout

block custom_css
	// DataTable
	link(href='/css/Datatables/dataTables.bootstrap.css', rel='stylesheet', type='text/css')

block header
	.row
		.col-header.col-xs-3.col-lg-9
			h1
				| #{__("menu.application")}
				small #{__("menu.module")}
		.col-header.col-xs-3.col-lg-1
			.clearfix
				span.pull-left Instructions
				small.pull-right#cptInstructionNumber
					if cptInstruction > 300
						b
							| 300+
					else
						b
							| #{cptInstruction}
			.progress.xs
				.progress-bar.progress-bar-striped#cptInstructionBar(role='progressbar', aria-valuenow='#{pourcentInstruction}', aria-valuemin='0', aria-valuemax='100', style='width:#{pourcentInstruction}%')
		.col-header.col-xs-3.col-lg-1(style="padding:0px;")
			ol.breadcrumb
				li
					a(href='/default/home')
						i.fa.fa-home
						| #{__("menu.home")}
				li.active #{__("menu.application")}
		.col-header.col-xs-3.col-lg-1
			a.btn.btn-default.pull-right(href='/logout')
				i.fa.fa-sign-out.fa-md &nbsp;&nbsp;
				span #{__("button.disconnect")}

block content
	legend #{__("listApplication.legend")}
	.row
		.col-xs-12.connectedSortable
			.box-body
				a.btn.btn-default.pull-right(href='/default/home')
					i.fa.fa-arrow-left.fa-md &nbsp;&nbsp;
					span #{__("button.backtohome")}
				br
				br
				each project in projects
					.col-lg-offset-3.col-lg-6
						.box.box-solid.box-default
							.box-header.bg-newmips
								h3.box-title(style="color: #fff")
									|#{__("project.label")} : #{project.displayName}
							.box-body(style="overflow-y:auto;overflow-x:hidden;")
								.row
									.col-lg-12
										.table-responsive
											table.table.no-margin
												thead
													tr
														th #{__("listApplication.id")}
														th #{__("listApplication.name")}
														th #{__("listApplication.nbModules")}
														th(colspan="2", style="text-align:center;") #{__("listApplication.action")}
												tbody
													each application, index in project.Applications
														tr
															td
																| #{application.id}
															td
																| #{application.displayName}
															td
																| #{application.Modules.length}
															td.text-center
																a.btn.btn-info(href='/application/preview?id_application=#{application.id}')
																	i.fa.fa-desktop.fa-md &nbsp;&nbsp;
																	span #{__("button.preview")}
															td.text-center
																a.btn.btn-warning(href='/editor/#{application.id}')
																	i.fa.fa-pencil-square-o.fa-md &nbsp;&nbsp;
																	span #{__("button.update")}
															td.text-center
																form.deleteAppForm
																	button.btn.btn-danger
																		i.fa.fa-trash-o.fa-md &nbsp;&nbsp;
																		span #{__("button.delete")}
																	input(type='hidden', name='instruction', value="delete application #{application.id}")
							.box-footer
								form.deleteProjectForm
									button.btn.btn-danger
										i.fa.fa-trash-o.fa-md &nbsp;&nbsp;
										span #{__("button.delete")}
									input(type="hidden", name="instruction", value="delete project #{project.id}")
block custom_js
	script(type='text/javascript').
		function updateInstructionCount(){
			$.ajax({
				url: '/default/update_instruction_cpt',
				method: 'get',
				success: function(data) {
					$("#cptInstructionBar").attr("aria-valuenow", data.pourcentInstruction);
					$("#cptInstructionBar").css("width", data.pourcentInstruction+"%");
					$("#cptInstructionNumber").html("<b>"+data.cptInstruction+"</b>");
				}
			});
		}

		function deleteApplication(formArray, index) {
			return new Promise(function(resolve, reject) {
				(function(arr, idx){
					$(document.body).css({cursor: 'wait'});
					var tr = $(arr[idx]).parents('tr');
					$.ajax({
						url: '/live/index',
						method: 'post',
						data: {instruction: $(arr[idx]).find('input[name="instruction"]').val()},
						success: function() {
							$(tr).remove();
							$(".deleteProjectForm").children("button").prop("disabled", false);
							$(".deleteAppForm").children("button").prop("disabled", false);
							updateInstructionCount();
						},
						complete: function() {
							$(document.body).css({cursor: 'default'});
							if (arr.length == 1) {
								toastr.success("#{__('listApplication.appDelete')}");
								return resolve();
							}
							return (arr[++idx]) ? resolve(deleteApplication(arr, idx)) : resolve();
						}
					});
				})(formArray, index);
			});
		}

		$(function() {
			// Delete Project
			$(".deleteProjectForm").submit(function() {
				var confirm = window.confirm("#{__('listApplication.sureToDelete')}");
				if(confirm){
					var self = this;
					// Get all application delete form
					var appForms = $(self).parents('.box').find("tbody tr form");
					$(this).children("button").html("#{__('listApplication.loading')}");

					/* Disabled all button to prevent mutli click that may cause issue */
					$(".deleteProjectForm").children("button").prop("disabled", true);
					$(".deleteAppForm").children("button").prop("disabled", true);

					$(document.body).css({cursor: 'wait'});
					$.ajax({
						url: '/live/index',
						method: 'post',
						data: {instruction: $(self).find("input[name='instruction']").val()},
						success: function() {
							toastr.success("#{__('listApplication.projectDelete')}");
							$(self).parents('.col-lg-6').remove();
							$(document.body).css({cursor: 'default'});
							$(".deleteProjectForm").children("button").prop("disabled", false);
							$(".deleteAppForm").children("button").prop("disabled", false);
							updateInstructionCount();
						}
					});

					return false;
				}
			});

			// Delete application
			$(".deleteAppForm").submit(function(){
				var confirm = window.confirm("#{__('listApplication.sureToDelete')}");
				if(confirm){
					$(this).children("button").html("#{__('listApplication.loading')}");
					$(".deleteProjectForm").children("button").prop("disabled", true);
					$(".deleteAppForm").children("button").prop("disabled", true);
					deleteApplication([$(this)], 0);
					return false;
				}
			});
		});