extends ../main_layout
block header
	.row
		.col-header.col-xs-3.col-lg-9
			h1
				| #{__("module.home")}
				small #{__("module.module")}
		.col-header.col-xs-3.col-lg-1
			.clearfix
				span.pull-left Instructions
				small.pull-right
					if cptInstruction > 300
						b
							| 300+
					else
						b
							| #{cptInstruction}
			.progress.xs(style="margin-bottom:0px;")
				.progress-bar.progress-bar-striped(role='progressbar', aria-valuenow='#{pourcentInstruction}', aria-valuemin='0', aria-valuemax='100', style='width:#{pourcentInstruction}%')
		.col-header.col-xs-3.col-lg-1(style="padding:0px;")
			ol.breadcrumb
				li
					a(href='/default/home')
						i.fa.fa-home
						| #{__("module.home")}
				li.active #{__("module.workspace")}
		.col-header.col-xs-3.col-lg-1
			a.btn.btn-default.pull-right(href='/logout')
				i.fa.fa-sign-out.fa-md &nbsp;&nbsp;
				span #{__("button.disconnect")}
block content
	.row
		.col-xs-12
			section.col-lg-offset-3.col-lg-6
				.box.box-solid.box-default
					.box-header.bg-newmips
						h3.box-title(style="color: #fff") #{__("home.header")}
					.box-body
						.row
							.col-lg-12
								- var display1 = nb_application>0?"block":"none";
								- var display2 = nb_application>0?"none":"block";
								form#existing_project(action='/live/initiate', method='post', style="display: #{display1};")
									p
										h4
											| #{__('home.title')}
									p
										| #{__('home.subtitle')}
									.form-group
										label(for='selectProject') #{M_("project.label")}
										select.form-control.select#select_project(name="selectProject", style="width: 100%;")
											option(value="", default)
												| #{__('project.selectProject')}
											each project in projects
												option(value="#{project.id}")
													| #{project.name}
										a#create_new_project(href="#")
											i.fa.fa-plus.fa-md &nbsp;
											| #{__('project.create')}
									.form-group#select_application_form(style="display: none;")
										label(for='selectApplication') #{M_("application.label")}
										select.form-control.select#select_application(name="selectApplication", style="width: 100%;")
										a#create_new_application(href="#")
											i.fa.fa-plus.fa-md &nbsp;
											| #{__('application.create')}
										br
										br
										a.btn.btn-info#btn-preview(href='#')
											i.fa.fa-pencil-square-o.fa-md &nbsp;&nbsp;
											span #{__("button.preview")}
									.form-group#create_new_application_input(style="display: none;")
										label(for='application') #{M_("application.label")}
										input.form-control.input.applicationInput(id='application', name='application', type='text')
										a#select_existing_application(href="#")
											i.fa.fa-plus.fa-md &nbsp;
											| #{__('application.selectExisting')}
										br
										br
										button.generate-button(id="step2Discover1", type="submit", class="btn btn-primary")
											| #{__('button.generate')}
										.progress.active.progress_generate(style="display: none;")
											.progress-bar.progress-bar-striped.active#pourcent_generation(role='progressbar', aria-valuenow='0', aria-valuemin='0', aria-valuemax='100', style='width:0%')
								form#new_project(action='/live/initiate', method='post', style="display: #{display2};")
									.form-group
										label(for='project') #{M_("project.label")}
										input.form-control.input(id='project', name='project', type='text', tabindex="1", autofocus)
										a#select_existing_project(href="#")
											i.fa.fa-plus.fa-md &nbsp;
											| #{__('project.selectExisting')}
									.form-group
										label(for='application') #{M_("application.label")}
										input.form-control.input.applicationInput(id='application', name='application', tabindex="2", type='text')
										br
										button.generate-button(id="step2Discover2", type="submit", class="btn btn-primary")
											| #{__('button.generate')}
										.progress.active.progress_generate(style="display: none;")
											.progress-bar.progress-bar-striped.active#pourcent_generation(role='progressbar', aria-valuenow='0', aria-valuemin='0', aria-valuemax='100', style='width:0%')
	.row
		.col-xs-12
			section.col-lg-offset-3.col-lg-6
				.box.box-solid.box-default
					.box-header
						h4.box-title #{__('home.directlinks.title')}
					.box-body
						center
							a.btn.btn-app(href='/application/list')
								span.badge.bg-purple #{nb_application}
								i.fa.fa-desktop
								| #{M_("application.plural")}

							a.btn.btn-app(href='/instruction_script/index')
								i.fa.fa-list-ol
								| #{__("home.directlinks.script")}

							a.btn.btn-app(href='/live/index')
								i.fa.fa-microphone
								| #{__("home.directlinks.live")}

							a.btn.btn-app(href='/import')
								i.fa.fa-hdd-o
								| #{__("home.directlinks.import")}

							a.btn.btn-app(href='/settings/index')
								i.fa.fa-cog
								| #{__("home.directlinks.settings")}

block custom_js
	script.
		$(function() {

			/* Unable complex caractere for project and application*/
			$(document).on("keyup", "#project", function(e){
				var reg = new RegExp("[^a-zA-Z0-9àâçéèêëîïôûùüÿñ, ']");
				while (reg.test($(this).val()))
					$(this).val($(this).val().substring(0, $(this).val().length-1))
			});

			$(document).on("keyup", "#application", function(e){

				var string = $(this).val();
		        string = string.replace(/é/g, "e");
		        string = string.replace(/\./g, "");
		        string = string.replace(/\ /g, "-");
		        string = string.replace(/è/g, "e");
		        string = string.replace(/ê/g, "e");
		        string = string.replace(/ë/g, "e");
		        string = string.replace(/\ê/g, "e");
		        string = string.replace(/à/g, "a");
		        string = string.replace(/â/g, "a");
		        string = string.replace(/ä/g, "a");
		        string = string.replace(/ô/g, "o");
		        string = string.replace(/ö/g, "o");
		        string = string.replace(/û/g, "u");
		        string = string.replace(/ù/g, "u");
		        string = string.replace(/ü/g, "u");
		        string = string.replace(/î/g, "i");
		        string = string.replace(/ï/g, "i");
		        string = string.replace(/ç/g, "c");
		        string = string.replace(/\Ù/g, "u");
		        string = string.replace(/\Û/g, "u");
		        string = string.replace(/\Ü/g, "u");
		        string = string.replace(/\À/g, "a");
		        string = string.replace(/\Â/g, "a");
		        string = string.replace(/\Ä/g, "a");
		        string = string.replace(/\Ç/g, "c");
		        string = string.replace(/\È/g, "e");
		        string = string.replace(/\É/g, "e");
		        string = string.replace(/\Ê/g, "e");
		        string = string.replace(/\Ë/g, "e");

		        if (!/^(?![0-9]+$)(?!.*-$)(?!.+-{2,}.+)(?!-)[a-zA-Z0-9- ]{1,63}$/g.test(string)) {
		            var errorText = "Le nom d'application doit respecter les règles suivantes :<br>";
		            errorText += "<ul>";
		            errorText += "<li>- Caractères alphanumériques uniquement.</li>";
		            errorText += "<li>- Au moins une lettre.</li>";
		            errorText += "<li>- Un espace maximum entre chaque mot.</li>";
		            errorText += "<li>- Aucun espace en début ou fin.</li>";
		            errorText += "<li>- 63 caractères maximum.</li>";
		            errorText += "<li>- Pas de tiret (-) en début ou fin, ni deux ou plus à la suite(--).</li>";
		            errorText += "</ul>";

		            $("span.applicationSpanUrl").remove();
		            if ($("span.applicationSpan").length == 0)
		        		$(this).after("<span class='applicationSpan' style='color:red;'><i class='fa fa-exclamation-circle'></i> "+errorText+"</span>");
		        	$("#step2Discover2, #step2Discover1").prop('disabled', true);
		        }
		        else {
		        	$("span.applicationSpan").remove();
		        	$("span.applicationSpanUrl").remove();
		        	$("#step2Discover2, #step2Discover1").prop('disabled', false);
		        	$(this).after("<p><span class='applicationSpanUrl' style='color:#3c8dbc;margin-bottom:10px'><i class='fa fa-info-circle'></i> L'url de votre application sera: "+string.toLowerCase()+"</span></p>");
		        }
			});

			/* --------------- Initialisation des select --------------- */
			$("select").select2();

			$(document).on("change", "#select_project", function(){

				if($(this).val() != ""){
					$(this).prop("disabled", true);

					var ajaxData = {
						idProject: $(this).val()
					}

					$.ajax({
						url : '/default/get_applications_by_project',
						type : 'POST',
						data: JSON.stringify(ajaxData),
						dataType : 'json',
						contentType: "application/json",
						context: this,
						success: function (data) {

							if(data.applications.length > 0 ){
								var dataForSelect2 = [];
								for(var i=0; i<data.applications.length; i++){
									var application = data.applications[i];
									dataForSelect2.push({
										id: application.id,
										text: application.name
									});
								}
								$("#btn-preview").attr("href", "/application/preview?id_application="+data.applications[0].id);
								$("#select_application").empty();
								$("#select_application").select2({
									data: dataForSelect2
								});
								$("#select_application_form").slideDown();
								$("#create_new_application_input").css("display", "none");
								$(this).removeAttr("disabled");
							}
							else{
								$("#select_application_form").slideDown();
								$(this).removeAttr("disabled");
							}
						},
						error: function (error) {
							console.log(error);
							toastr.error("Sorry, an error occured :/");
						}
					});
				}
			});

			$(document).on("change", "#select_application", function(){
				$("#btn-preview").attr("href", "/application/preview?id_application="+$(this).val());
			});

			$(document).on("click", "#create_new_application", function(){
				$(".applicationInput").val("").trigger("keydown");
				$("span.applicationSpan").remove();
		        $("span.applicationSpanUrl").remove();
				$(this).parents(".form-group").slideUp();
				$("#create_new_application_input").slideDown();
			});

			$(document).on("click", "#select_existing_application", function(){
				$(this).parents(".form-group").slideUp();
				$("#select_application_form").slideDown();
			});

			$(document).on("click", "#create_new_project", function(){
				$(".applicationInput").val("").trigger("keydown");
				$("span.applicationSpan").remove();
		        $("span.applicationSpanUrl").remove();
				$("#existing_project").slideUp();
				$("#application").val("");
				$("#new_project").slideDown();
			});

			$(document).on("click", "#select_existing_project", function(){
				$("#new_project").slideUp();
				$("#existing_project").slideDown();
			});
		});
