extends ../main_layout
block header
	.row
		.col-header.col-xs-12.col-sm-6.col-md-6.col-lg-8
			h1
				a(href="/")
					img(src="/img/FAVICON-GRAND-01.png", alt="Newmips Logo", style="width:44px;display:inline;margin-left:15px; margin-right:15px;")
				| #{__("menu.import")}
				small #{__("menu.module")}

		.col-xs-12.col-sm-6.col-md-6.col-lg-4
			.btn-group.pull-right(role="group")
				a.btn.btn-default(href='/default/home')
					i.fa.fa-home(style="margin-right:5px;")
					| #{__("menu.home")}
				a.btn.btn-default(href='/account')
					i.fa.fa-user(style="margin-right:5px;")
					| #{__("menu.account")}
				a.btn.btn-default.pull-right(href='/logout')
					i.fa.fa-sign-out.fa-md &nbsp;&nbsp;
					span #{__("button.disconnect")}

block content
	.row
		.col-xs-12
			section.col-xs-12.col-lg-offset-2.col-lg-8
				.box.box-solid.box-default
					.box-header.bg-primary
						h3.box-title(style="color: #fff") #{__("import.legend")}
					.box-body
						.row
							.col-xs-12
								form#importForm(method="post", enctype="multipart/form-data")
									.form-group
										label(for='AppID') #{__("application.selectExisting")}
										select.form-control.select(name="appID", style="width: 100%;", required)
											each app in applications
												option(value=app.id)
													| #{app.id} - #{app.name}
									.form-group
										label(for='configFile') #{__("import.confFile")}
										input(id='configFile', name='configFile', type='file', required)
									.form-group
										label(for='contentFile') #{__("import.fileType")}
										input(id='contentFile', name='contentFile', type='file', required)
									br
									.form-group
										button.btn.btn-primary#importSubmit
											| #{__("import.action")}
								.progress.sm.progress-striped.active#progressImportOne(style='display:none;')
									.progress-bar.progress-bar-success#progressImportTwo(aria-valuenow='0', aria-valuemin='0', aria-valuemax='100', style='width:0%;')
								.form-group
									a.btn.btn-info#downloadSQLFile(style="display:none;")
										| #{__("import.downloadsqlfile")}
						br
						.row
							.col-xs-12
								#infoImport
block custom_js
	script.
		$(document).ready(function(){
			$("form#importForm").submit(function(){

				var formData = new FormData($(this)[0]);
				var doCheck = true;
				$("#importSubmit").hide();
				$("#progressImportOne").show();

				function checkImport(doCheck){
					if(doCheck){
						$.ajax({
							url: '/import/get_import_status',
							method: 'GET',
							success: function(answer) {
								console.log(answer.percentProgress);
								$("#progressImportTwo").attr("aria-valuenow", answer.percentProgress);
								$("#progressImportTwo").css("width", answer.percentProgress+"%");

								for(var i=0; i<answer.errors.length; i++){
									$("#infoImport").append("<p><b>ERROR:</b><br><u>REQUEST:</u>&nbsp;&nbsp;"+answer.errors[i].request+"<br><u>ERROR:</u>&nbsp;&nbsp;"+answer.errors[i].error+"</p><br>");
								}
							}
						});
					}
				};

				$.ajax({
					url: '/import/execute',
					method: 'POST',
					contentType: false,
					processData: false,
					data: formData,
					timeout: 600000,
					success: function(answer){
						checkImport(doCheck);
						doCheck = false;
						$("#downloadSQLFile").attr("href", "/import/download_file/"+answer.sqlFilename);
						$("#downloadSQLFile").show();
						$("#progressImportOne").hide();
						if(answer.success){
							toastr.success(answer.message);
						} else {
							toastr.error(answer.message);
						}
					},
					error: function(err){
						console.log(err.responseText);
						toastr.error(err.responseText);
					}
				});

				/* Check status */
				setInterval(function(){
					checkImport(doCheck);
				}, 500);

				return false;
			});
		});
