extends ../main_layout
block header
	.row
		.col-header.col-xs-4.col-sm-9
			h1
				| #{__("module.import")}
				small #{__("module.module")}
		.col-header.col-xs-4.col-sm-1
			.clearfix
				span.pull-left Instructions
				small.pull-right
					if cptInstruction > 300
						b
							| 300+
					else
						b
							| #{cptInstruction}
			.progress.xs(style="margin-bottom:0px;")
				.progress-bar.progress-bar-striped(role='progressbar', aria-valuenow='#{pourcentInstruction}', aria-valuemin='0', aria-valuemax='100', style='width:#{pourcentInstruction}%')
		.col-header.col-xs-4.col-sm-1(style="padding:0px;")
			ol.breadcrumb
				li
					a(href='/default/home')
						i.fa.fa-home
						| #{__("module.home")}
				li.active #{__("module.import")}
		.col-header.col-xs-4.col-sm-1
			a.btn.btn-default.pull-right(href='/default/home')
				i.fa.fa-sign-out.fa-md &nbsp;&nbsp;
				span #{__("button.disconnect")}
block content
	.row
		.col-xs-12
			a.btn.btn-default.pull-right(href='/default/home')
				i.fa.fa-arrow-left.fa-md &nbsp;&nbsp;
				span #{__("button.backtohome")}
			br
			br
			section.col-lg-offset-3.col-lg-6
				.box.box-solid.box-default
					.box-header.bg-newmips
						h3.box-title(style="color: #fff") Import
					.box-body
						.row
							.col-lg-12
								form(action='/import/execute', method='post', enctype="multipart/form-data")
									.form-group
										label(for='AppID') Select Application
										select.form-control.select(name="appID", style="width: 100%;", required)
											each app in applications
												option(value="#{app.id}")
													| #{app.id} - #{app.name}
									.form-group
										label(for='configFile') Configuration File
										input(id='configFile', name='configFile', type='file', required)
									.form-group
										label(for='contentFile') XLSX or CSV File
										input(id='contentFile', name='contentFile', type='file', required)
									br
									.form-group
										input.btn.btn-primary(type="submit", value="Importer !")
block custom_js
