extends ../main_layout
block header
	.row
		.col-header.col-xs-3.col-lg-9
			h1
				| #{__("menu.instruction")}
				small #{__("menu.module")}
		.col-header.col-xs-3.col-lg-1
			.clearfix
				span.pull-left Instructions
				small.pull-right#cptInstructionNumber
					if cptInstruction > 300
						b
							| 300+
					else
						b
							| #{cptInstruction}
			.progress.xs(style="margin-bottom:0px;")
				.progress-bar.progress-bar-striped#cptInstructionBar(role='progressbar', aria-valuenow='#{pourcentInstruction}', aria-valuemin='0', aria-valuemax='100', style='width:#{pourcentInstruction}%')
		.col-header.col-xs-3.col-lg-1(style="padding:0px;")
			ol.breadcrumb
				li
					a(href='/default/home')
						i.fa.fa-home
						| #{__("menu.home")}
				li.active #{__("menu.instruction")}
		.col-header.col-xs-3.col-lg-1
			a.btn.btn-default.pull-right(href='/logout')
				i.fa.fa-sign-out.fa-md &nbsp;&nbsp;
				span #{__("button.disconnect")}
block content
	legend #{__("instructionScript.legend")}
	.row
		.col-xs-12.connectedSortable
			.box-body
				a.btn.btn-default.pull-right(href='/default/home')
					i.fa.fa-arrow-left.fa-md &nbsp;&nbsp;
					span #{__("button.backtohome")}
				br
				br
				.row
					.col-xs-12
						form(action='/instruction_script/execute', id='instructionsScript', method='post', enctype="multipart/form-data")
							.form-group
								.row
									.col-xs-12
										input(type='file', required, name='instructions', style='float:left;')
								.row
									.col-xs-3
										button.btn.btn-primary(id='scriptSubmit', type='submit', style='float:left;margin-top: 15px;') #{__("button.execute")}
				.row
					.col-xs-12
						div(id='filename')
						div(id='instructionCount', style='float: left;')
						br
						br
						button.btn.btn-success#goTo(disabled, style='display:none;')
							| #{__("instructionScript.redirecting")}
						br
						br
						.progress.sm.progress-striped.active(id='progressbarcontent', style='display:none;')
							.progress-bar.progress-bar-success(id='progressbar', aria-valuenow='0', aria-valuemin='0', aria-valuemax='100', style='width:0%;')
						.form-group
							div.form-control.div(id='answers', name='answers', style="height: 500px;overflow:auto")
								| !{answers}
				input(id='lang', type='hidden', value=__("app.lang"))
block custom_js
	script(src='/js/Newmips/instructionsScriptStatus.js', type='text/javascript')
