extends ../main_layout
block header
	.row
		.col-header.col-xs-12.col-sm-4.col-md-5.col-lg-8
			h1
				img(src="/img/FAVICON-GRAND-01.png", alt="Newmips Logo", style="width:44px;display:inline;margin-left:15px; margin-right:15px;")
				| #{__("menu.live")}
				small #{__("menu.module")}

		.hidden-xs.col-sm-2.col-md-2.col-lg-1
			.clearfix
				span.pull-left Instructions
				small.pull-right
					if cptInstruction > 300
						b
							| 300+
					else
						b
							| #{cptInstruction}
			.progress.xs(style="margin-bottom:0px;")
				.progress-bar.progress-bar-striped.progress-bar-success(role='progressbar', aria-valuenow='#{pourcentInstruction}', aria-valuemin='0', aria-valuemax='100', style='width:#{pourcentInstruction}%')

		.col-xs-12.col-sm-6.col-md-5.col-lg-3
			.btn-group.pull-right(role="group")
				a.btn.btn-default(href='/default/home')
					i.fa.fa-home(style="margin-right:5px;")
					| #{__("menu.home")}
				a.btn.btn-default(href='/account')
					i.fa.fa-user(style="margin-right:5px;")
					| #{__("menu.account")}
				a.btn.btn-default.pull-right(href='/logout')
					i.fa.fa-sign-out.fa-md &nbsp;&nbsp;
					span #{__("button.disconnect")}
block content
	legend #{__("live.legend")}
	.row
		.col-xs-12.connectedSortable
			.box-body
				a.btn.btn-default.pull-right(href='/default/home')
					i.fa.fa-arrow-left.fa-md &nbsp;&nbsp;
					span #{__("button.backtohome")}
				br
				br
				.row
					.col-xs-12
						.form-group
							a.btn.btn-default(href="#", id="btn")
								i.fa.fa-microphone.fa-md &nbsp;&nbsp;
								span #{__("button.record")}

						form(action='/live/index', id='singleInstruction', method='post')
							.form-group
								input.form-control.input(id='instruction', name='instruction', type='text', autofocus, value='' x-webkit-speech)

							.form-group
								button.btn.btn-primary(id='instructionSubmit', type='submit') #{__("button.execute")}
				.row
					.col-xs-12
						.form-group
							div.form-control.div(id='answers', name='answers', style="height: 500px;overflow:auto")
								| !{answers}
