extends ../main_layout
block header
	.row
		.col-header.col-xs-4.col-sm-9
			h1
				| #{__("module.live")}
				small #{__("module.module")}
		.col-header.col-xs-4.col-sm-1
			.clearfix
				span.pull-left Instructions
				small.pull-right
					if cptInstruction > 300
						b
							| 300+
					else
						b
							| #{cptInstruction}
			.progress.xs(style="margin-bottom:0px;")
				.progress-bar.progress-bar-striped(role='progressbar', aria-valuenow='#{pourcentInstruction}', aria-valuemin='0', aria-valuemax='100', style='width:#{pourcentInstruction}%')
		.col-header.col-xs-4.col-sm-1(style="padding:0px;")
			ol.breadcrumb
				li
					a(href='/default/home')
						i.fa.fa-home
						| #{__("module.home")}
				li.active #{__("module.live")}
		.col-header.col-xs-4.col-sm-1
			a.btn.btn-default.pull-right(href='/default/home')
				i.fa.fa-sign-out.fa-md &nbsp;&nbsp;
				span #{__("button.disconnect")}
block content
	legend #{__("operation.live")}
	.row
		.col-xs-12.connectedSortable
			.box-body
				a.btn.btn-default.pull-right(href='/default/home')
					i.fa.fa-arrow-left.fa-md &nbsp;&nbsp;
					span #{__("button.backtohome")}
				br
				br
				.row
					.col-xs-12
						.form-group
							a.btn.btn-default(href="#", id="btn")
								i.fa.fa-microphone.fa-md &nbsp;&nbsp;
								span #{__("button.record")}

						form(action='/live/index', id='singleInstruction', method='post')
							.form-group
								// input.form-control.input(id='instruction', name='instruction', type='text', value='#{instruction}' x-webkit-speech)
								input.form-control.input(id='instruction', name='instruction', type='text', autofocus, value='' x-webkit-speech)

							.form-group
								button.btn.btn-primary(id='instructionSubmit', type='submit') #{__("button.execute")}
				.row
					.col-xs-12
						.form-group
							div.form-control.div(id='answers', name='answers', style="height: 500px;overflow:auto")
								| !{answers}
