extends ../main_layout
block header
	.row
		.col-header.col-xs-12.col-sm-4.col-md-5.col-lg-8
			h1
				a(href="/")
					img(src="/img/FAVICON-GRAND-01.png", alt="Newmips Logo", style="width:44px;display:inline;margin-left:15px; margin-right:15px;")
				| #{__("menu.preview")}
				small #{__("menu.module")}

		.hidden-xs.col-sm-2.col-md-2.col-lg-1
			.clearfix
				span.pull-left Instructions
				small.pull-right
					if cptInstruction > 300
						b
							| 300+
					else
						b
							| #{cptInstruction}
			.progress.xs(style="margin-bottom:0px;")
				.progress-bar.progress-bar-striped.progress-bar-success(role='progressbar', aria-valuenow='#{pourcentInstruction}', aria-valuemin='0', aria-valuemax='100', style='width:#{pourcentInstruction}%')

		.col-xs-12.col-sm-6.col-md-5.col-lg-3
			.btn-group.pull-right(role="group")
				a.btn.btn-default(href='/default/home')
					i.fa.fa-home(style="margin-right:5px;")
					| #{__("menu.home")}
				a.btn.btn-default(href='/account')
					i.fa.fa-user(style="margin-right:5px;")
					| #{__("menu.account")}
				a.btn.btn-default.pull-right(href='/logout')
					i.fa.fa-sign-out.fa-md &nbsp;&nbsp;
					span #{__("button.disconnect")}

		.modal.fade#modalsetlogo(tabindex='-1', role='dialog', aria-labelledby='Set logo')
			.modal-dialog.modal-lg(role='document')
				.modal-content
					.modal-header
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true') ×
						h4.modal-title #{__("preview.logo.title")}
					.modal-body
						p.text-center
							img(src='/img/avatar.png', alt="Mipsy", style="display:block;margin:auto;width: 150px;")
							br
							| #{__("preview.logo.text")}
							br
							br
							.col-xs-12(data-field='set_logo')
								.form-group
									label(for='set_logo') Logo
									#set_logo_dropzone.dropzone.dropzone-field(data-storage='local', data-type='picture', data-entity='logo')
									input#set_logo_dropzone_hidden(type='hidden', name='set_logo', value='')
							br
							br
							.col-xs-12.text-center
								button.btn.btn-success#addLogo
									| #{__("button.add")}
					.modal-footer
						button.btn.btn-default(type='button', data-dismiss='modal') #{__("button.close")}

block custom_css
	// Dropzone
	link(href='/css/dropzone/dropzone.min.css', rel='stylesheet', type='text/css')
	// CodeMirror
	link(href='/css/codemirror/codemirror.css', rel='stylesheet', type='text/css')
	link(href='/css/codemirror/customcodemirror.css', rel='stylesheet', type='text/css')
	// Addons CSS
	link(href='/js/plugins/grid-editor/dist/grideditor.css', rel='stylesheet', type='text/css')
	link(href='/js/plugins/grid-editor/dist/grideditor-font-awesome.css', rel='stylesheet', type='text/css')
	link(href='/js/plugins/codemirror/addon/dialog.css', rel='stylesheet', type='text/css')
	link(href='/js/plugins/codemirror/addon/fullscreen.css', rel='stylesheet', type='text/css')
	link(href='/js/plugins/codemirror/addon/simplescrollbars.css', rel='stylesheet', type='text/css')
	// Slack chat
	link(rel="stylesheet", href="/css/slack/slack-chat.css")
	link(rel="stylesheet", href="/css/slack/skin-chat.css")
	// Animated CSS
	link(rel="stylesheet", href="/css/animated.css")
	// Dynamic Writing
	style.
		.dynamic-writing{
			display: none;
		}

block content
	#tabs.nav-tabs-custom(style="margin-bottom:0px;")
		ul.nav.nav-tabs#primary-navtabs(role="tablist")
			li.active
				a(role="primaryTab", data-toggle='tab', href='#preview') #{__("preview.title")}
			li
				a(role="primaryTab", data-toggle='tab', href='#ui-editor') #{__("menu.ui_editor")}
			li
				a#start-editor(role="primaryTab", data-toggle='tab', href='#editor') #{__("menu.editor")}
			li
				a#start-logs(role="primaryTab", data-toggle='tab', href='#logs') #{__("menu.logs")}

		.tab-content
			#preview.tab-pane.fade.in.active
				.row
					.col-xs-12.col-md-8.col-lg-9
						form#previewForm(action='/application/preview', method='post')
							.input-group.ui-widget(style="margin-bottom:7px;")
								.input-group-btn
									a.btn.btn-default(href="#", id="btn-speech", alt="Enregistrer une instruction")
										i.fa.fa-microphone.fa-md
								input.form-control(id='instruction', placeholder="#{__('preview.execute')}", name='instruction', type='text', autocomplete="off", autofocus, required, value='' x-webkit-speech)
								input.form-control.input(id='iframe_url', name='iframe_url', type='hidden', value='#{iframe_url}')
								//input.form-control.input(id='iframe', name='iframe', type='hidden', value='true')
								input.form-control.input(id='chat', name='chat', type='hidden', value='#{JSON.stringify(chat)}')
								.input-group-btn
									button.btn.btn-success#execute_instruction
										| #{__("button.execute")}
						.row
							.col-xs-12
								.box-body
									.responsive-iframe
										//img.iframe-ratio(src="data:image/gif;base64,R0lGODlhEAAJAIAAAP///wAAACH5BAEAAAAALAAAAAAQAAkAAAIKhI+py+0Po5yUFQA7")
										if iframe_url != -1
											iframe(id="iframe", height="764px", width="600px", src="#{iframe_url}", webkitAllowFullScreen, mozallowfullscreen, allowFullScreen, style="height:764px;border: 1px solid grey;border-radius: 3px;")
										div(id="loadingIframe", style="position: absolute;top: 0;left: 0;width: 100%;height: 764px;background-color: rgba(0, 0, 0, 0.25);display:none;")
											img.animated.pulse.infinite(src='/img/LOGO-PNG-01-min.png', alt='Loading', style="display:block;margin: auto;margin-top:300px;width:200px;")
										br
					.col-xs-12.col-md-4.col-lg-3
						// Chat box
						.box.box-solid(style="margin-bottom:10px;")
							.box-header
								h4.box-title
									i.fa.fa-comments-o
									|  Instructions
							br
							#chat-box.box-body.chat(style="height:450px;max-height:450px;overflow-y:scroll;")
								// Each item has : user, dateEmission, content
								each msg in chat.items
									.item
										if (msg.user == "Mipsy")
											img(src='/img/avatar.png', alt='user image')
										else
											img(src='/img/user.png', alt='user image')
										p.message
											a.name(href='#')
												small.text-muted.pull-right
													| #{msg.dateEmission}
												if (msg.user == "Mipsy")
													| Mipsy
												else
													| #{profile.login}
											if (msg.content == "chat.welcome")
												span.dynamic-writing
													| !{__(msg.content, msg.params)}
											else
												span.standard-writing
													| !{__(msg.content, msg.params)}
									hr
								//.box-footer
									.row
										.col-xs-1
											a.btn.btn-default(href="#", id="btn-speech", alt="Enregistrer une instruction")
												i.fa.fa-microphone.fa-md
										.col-xs-11
											.input-group.ui-widget
												input.form-control(id='instruction', name='instruction', type='text', autocomplete="off", autofocus, value='' x-webkit-speech)
												input.form-control.input(id='iframe_url', name='iframe_url', type='hidden', value='#{iframe_url}')
												input.form-control.input(id='iframe', name='iframe', type='hidden', value='true')
												input.form-control.input(id='chat', name='chat', type='hidden', value='#{JSON.stringify(chat)}')
												.input-group-btn
													button.btn.btn-success#execute_instruction
														| #{__("button.execute")}
						// Session
						.box.box-solid(style="margin-bottom:0px;")
							.box-header
								h4.box-title
									i.fa.fa-gear
									|  Session
							.box-body
								.callout.callout-warning
									if (session.project.id_project != null)
										| #{__("project.label")} :
										b.sessionProjectInfo
											|&nbsp;#{session.project.id_project} - #{session.project.name_project}
									else
										| #{__("project.label")} :
										b.sessionProjectInfo
											|&nbsp;#{__("preview.session.noProject")}
									br
									if (session.application.id_application != null)
										| #{__("application.label")} :
										b.sessionApplicationInfo
											|&nbsp;#{session.application.id_application} - #{session.application.name_application}
									else
										| #{__("application.label")} :
										b.sessionApplicationInfo
											|&nbsp;#{__("preview.session.noApplication")}
									br
									if (session.module.id_module != null)
										| #{__("module.label")} :
										b.sessionModuleInfo
											|&nbsp;#{session.module.id_module} - #{session.module.name_module}
									else
										| #{__("module.label")} :
										b.sessionModuleInfo
											|&nbsp;#{__("preview.session.noModule")}
									br
									if (session.data_entity.id_data_entity != null)
										| #{__("entity.label")} :
										b.sessionEntityInfo
											|&nbsp;#{session.data_entity.id_data_entity} - #{session.data_entity.name_data_entity}
									else
										| #{__("entity.label")} :
										b.sessionEntityInfo
											|&nbsp;#{__("preview.session.noEntity")}
							.box-footer
								.text-center
									a.btn.btn-app#restart-server(href="#")
										i.fa.fa-refresh
										|#{__("preview.reload")}
									if globalConf.env != 'cloud'
										a.btn.btn-app(target="_blank", href="https://github.com/newmips/newmips/issues/new")
											i.fa.fa-github
											|#{__("preview.issue-button")}
									else if globalConf.env == 'cloud' || globalConf.env == 'cloud_recette'
										div.btn.btn-app#message-box(title="", data-toggle="tooltip", data-original-title="Talk bubble")
											i.fa.fa-comment
											div(class="badge badge-danger slack-message-count", style="display: none;")
											|#{__("preview.help-button")}
									a.btn.btn-app(target="_blank", href="http://docs.newmips.com")
										i.fa.fa-book
										|#{__("button.documentation")}

			#ui-editor.tab-pane.fade.in(style="min-height:750px;")
				.row
					.col-xs-12.col-sm-2.sidebar
						h4
							| #{__("entity.label")} :

						select#entitySelect(name="entitySelect")
							option(default="true", value="")
								| #{__("ui_editor.select_entity")}
							for entity in entities
								option(value="#{entity.codeName}")
									| #{entity.name}
						br
						ul#pages.sidebar-menu(style="display:none;")
							li.ui-state-default.treeview(style='display:block;')
								a(class='ui_editor_page' href='#' data-entity='' data-page='create')
									i.fa.fa-file
									| #{__("ui_editor.create_page")}
							li.ui-state-default.treeview(style='display:block;')
								a(class='ui_editor_page' href='#' data-entity='' data-page='update')
									i.fa.fa-file
									| #{__("ui_editor.update_page")}
							li.ui-state-default.treeview(style='display:block;')
								a(class='ui_editor_page' href='#' data-entity='' data-page='show')
									i.fa.fa-file
									| #{__("ui_editor.show_page")}
							li.ui-state-default.treeview(style='display:block;')
								a(class='ui_editor_page' href='#' data-entity='' data-page='print')
									i.fa.fa-file
									| #{__("ui_editor.print_page")}

					.col-xs-12.col-sm-10
						#ui_editor
						br
						input#ui_editor_apply_all(type="checkbox", style="margin:0;vertical-align: bottom;position: relative;top: -1px;*overflow: hidden;margin-right:5px;display:none;")
						span#ui_editor_apply_all_span(style="display:none;") Apply to entity
						br
						br
						button#ui_editor_save.btn.btn-primary(style="display:none;")
							| #{__("button.save")}

			#editor.tab-pane.fade.in
				.row
					#codemirror-menu.col-xs-12.col-sm-2.sidebar
						h4
							| #{__("editor.folders")} :
						ul#sortable.sidebar-menu
							mixin parseObject(array)
								if array
									each file, key in array
										if (typeof file.path !== "undefined")
											li
												a.load-file(href='#', data-path="#{file.path}", data-filename="#{file.title}")
													i.fa.fa-file
													|  #{file.title}
										else if (typeof file.under !== "undefined")
											li.ui-state-default.treeview(style='display:block;')
												a(href='#')
													i.fa.fa-folder
													span #{file.title}
													i.fa.fa-angle-left.pull-right
												ul.treeview-menu
													mixin parseObject(file.under)
							mixin parseObject(workspaceFolder)
					#codemirror-editor.col-xs-12.col-sm-10
						h4
							| #{__("editor.legend")} :
						#tabs-editor.nav-tabs-custom(style="margin-bottom:0px;")
							ul.nav.nav-tabs#editor-navtabs(role="filelist")
				br
				.row
					.col-xs-5.col-sm-offset-2
						button#update-file.btn.btn-primary(disabled="true") #{__("button.save")}
					.col-xs-5
						span.pull-right(style="margin-right:50px;")
							b
								| #{__("editor.change_theme")} :
						br
						select#select-theme.pull-right
							option(value="default") default
							option(value="3024-day") 3024-day
							option(value="3024-night") 3024-night
							option(value="abcdef") abcdef
							option(value="ambiance-mobile") ambiance-mobile
							option(value="ambiance") ambiance
							option(value="base16-dark") base16-dark
							option(value="base16-light") base16-light
							option(value="bespin") bespin
							option(value="blackboard") blackboard
							option(value="cobalt") cobalt
							option(value="colorforth") colorforth
							option(value="dracula") dracula
							option(value="duotone-dark") duotone-dark
							option(value="duotone-light") duotone-light
							option(value="eclipse") eclipse
							option(value="elegant") elegant
							option(value="erlang-dark") erlang-dark
							option(value="hopscotch") hopscotch
							option(value="icecoder") icecoder
							option(value="isotope") isotope
							option(value="lesser-dark") lesser-dark
							option(value="liquibyte") liquibyte
							option(value="material") material
							option(value="mbo") mbo
							option(value="mdn-like") mdn-like
							option(value="midnight") midnight
							option(value="monokai") monokai
							option(value="neat") neat
							option(value="neo") neo
							option(value="night") night
							option(value="panda-syntax") panda-syntax
							option(value="paraiso-dark") paraiso-dark
							option(value="paraiso-light") paraiso-light
							option(value="pastel-on-dark") pastel-on-dark
							option(value="railscasts") railscasts
							option(value="rubyblue") rubyblue
							option(value="seti") seti
							option(value="solarized") solarized
							option(value="the-matrix") the-matrix
							option(value="tomorrow-night-bright") tomorrow-night-bright
							option(value="tomorrow-night-eighties") tomorrow-night-eighties
							option(value="ttcn") ttcn
							option(value="twilight") twilight
							option(value="vibrant-ink") vibrant-ink
							option(value="xq-dark") xq-dark
							option(value="xq-light") xq-light
							option(value="yeti") yeti
							option(value="zenburn") zenburn

			#logs.tab-pane.fade.in
				.form-group
					.form-control#logs-content(name='answers', style="white-space: pre-line;height: 700px;overflow:auto;background:black;color:#FFF;")

block custom_js
	// UI-Editor
	//script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js', type='text/javascript')
	script(src='/js/UI/jquery-ui-1.12.1.js', type='text/javascript')
	script(src='/js/plugins/grid-editor/dist/jquery.grideditor.js', type='text/javascript')
	// Speech Recognition
	script(src='/js/Newmips/speechRecognition.js', type='text/javascript')
	// Slim scroll
	script(src='/js/plugins/jquery.slimscroll.min.js', type='text/javascript')
	// Sidebar
	script(src='/js/AdminLTE/sidebar.js', type='text/javascript')
	// Dropzone
	script(src='/js/plugins/dropzone/dropzone.min.js', type='text/javascript')
	script.
		var idApp = "#{idApp}";
	script(src='/js/Newmips/logo-instruction.js', type='text/javascript')
	// Dynamic Writing
	script(src='/js/Newmips/dynamic-writing.js', type='text/javascript')
	// Slack
	if (isSlackChatEnabled)
		script(src="/js/plugins/moment.js", type='text/javascript')
		script(src="/js/plugins/slack/slack-chat.js", type='text/javascript')
		script.
			/***************** Slack chat ******************/
			/* ID des user de Slack à inviter dans la channel crée */
			var usersToInvite = ["U1GLD90GK", "U28GY8LLW", "U1GARP962", "U1GCYEKPX", "U1HD3C60L", "U6X4BDYM6"];

			var userId = localStorage.getItem("newmips_slack_id_user");

			if(userId == null){
				localStorage.setItem("newmips_slack_id_user", Math.random()*1000000)
				userId = localStorage.getItem("newmips_slack_id_user");
			}

			var userUrlName = window.location.href.replace(/(^\w+:|^)\/\//, '');
			var slackChatOptions = {
				apiToken: '#{slackApiToken}', /*#Slack Auth token. Required.*/
				channelId: '',      /*#Slack channel ID. Required.*/
				user: 'Newmips User',           /*name of the user. Required.*/
				userLink: '',       /*link to the user in the application - shown in #Slack*/
				userImg: '',        /*image of the user*/
				userId: userId,         /*id of the user in the application*/
				defaultSysImg: 'img/logo/logo_newmips.png',         /*image to show when the support team replies*/
				defaultSysUser: 'Newmips',                /*Required*/
				queryInterval: 3000,
				chatBoxHeader: "Need help? Talk to our support team right here",
				slackColor: "#36a64f",
				messageFetchCount: 100,
				botUser: userUrlName, /*username to post to #Slack. Required.*/
				sendOnEnter: true,
				disableIfAway: false,
				elementToDisable: null,
				heightOffset: 75,
				debug: false,
				webCache: false,
				privateChannel: true,
				serverApiGateway: '/set_slack',
				useUserDetails: true,
				defaultInvitedUsers: usersToInvite
			}

			$("#message-box").slackChat(slackChatOptions);
	else
		script.
			$("#message-box").click(function() {
				var chatDisabledMsg = '#{__("preview.help-disabled")}';
				toastr.info(chatDisabledMsg);
			});
	// Editor
	script(type='text/javascript').
		var intro2 = "#{__('editor.intro')}" + "\n";
		intro2 += "#{__('editor.intro2')}" + "\n";
		intro2 += "#{__('editor.intro3')}";
	script(type='text/javascript').
		$(document).ready(function(){

			function getTranslation(key, params, callback){
				var ajaxData = {
					key: key,
					params: params,
					lang: user_lang
				};
				$.ajax({
		            url: '/default/ajaxtranslate',
		            type: 'POST',
		            data: JSON.stringify(ajaxData),
		            dataType: 'json',
		            contentType: "application/json",
		            context: this,
		            success: function(answer) {
		            	callback(answer.value);
		            },
		            error: function(error) {
		                console.log(error);
		                callback(key);
		            }
		        });
			}

			////////////
			// UI Editor
			////////////
			function cleanEditor() {
				// Remove unwanted buttons
				$(".ge-add-column").remove();
			}

			$(document).delegate('.ge-add-row', 'click', function() {
				var newRow = $(this).parent().parent().children(".row .ui-sortable").last();
				newRow.find('.ui-sortable').remove();
				$(".ge-add-column").remove();
			});

			$(document).delegate('.ge-addRowGroup', 'click', function() {
				var newRow = $("body").find('.ui-sortable').last().parent();
				newRow.find('.ge-add-row').click();
				newRow.find('.ge-content').remove();
			});

			$("#entitySelect").select2({width:'100%'});
			$("#entitySelect").change(function() {
				$("#pages").slideUp();
				if ($(this).val()) {
					$("#pages a").data('entity', $(this).val());
					$("#pages").slideDown();
				}
			});

			var entity, page;
			$(".ui_editor_page").click(function() {
				var self = this;
				entity = $(this).data('entity');
				page = $(this).data('page');
				$.ajax({
					url: '/ui_editor/getPage/'+entity+'/'+page,
					success: function(pageHtml) {
						$("#ui_editor").html(pageHtml);
						// Remove mainControls who are not removed by modifying html
						$(".ge-mainControls").remove();

						// Enable gridEditor
						$("#ui_editor").gridEditor();
						cleanEditor();
						$("#ui_editor_save").show();
						$("#ui_editor_apply_all").show();
						$("#ui_editor_apply_all_span").show();
						$(".ui_editor_page").parents('li').removeClass('active');
						$(self).parents('li').addClass('active');

						if(page == "print")
							$("a#custom-grid-editor-print-layout").trigger("click");
					},
					error: function(err) {
						console.log(err);
						toastr.error(err.responseText);
					}
				});
			});

			$("#ui_editor_save").click(function() {
				var html = $("#ui_editor").gridEditor('getHtml');
				var currentScreenMode = $(".ge-layout-mode button span").text();
				cleanEditor();
				$.ajax({
					url: '/ui_editor/setPage/'+entity+'/'+page,
					method: 'post',
					data: {html: html, screenMode: currentScreenMode, applyAll: $("#ui_editor_apply_all").prop("checked")},
					success: function(msg) {
						$("#ui_editor_apply_all").prop("checked", false);
						toastr.success(msg);
					},
					error: function(err) {
						console.log(err);
						toastr.error(err.responseText);
					}
				});
			});

			/////////
			// Editor
			/////////
			var isEditorStarted = false;
			$(document).on("click", "#start-editor", function(){
				if(!isEditorStarted){
					// Tabs display/animation need to be completely finished to instanciate the editor
					setTimeout(function(){
						$("body").append("<script src='/js/plugins/codemirror/codemirror.js' type='text/javascript' />"+
						"<script src='/js/plugins/codemirror/addon/multiplex.js' type='text/javascript' />"+
						"<script src='/js/plugins/codemirror/addon/search.js' type='text/javascript' />"+
						"<script src='/js/plugins/codemirror/addon/searchcursor.js' type='text/javascript' />"+
						"<script src='/js/plugins/codemirror/addon/dialog.js' type='text/javascript' />"+
						"<script src='/js/plugins/codemirror/addon/matchbrackets.js' type='text/javascript' />"+
						"<script src='/js/plugins/codemirror/addon/closebrackets.js' type='text/javascript' />"+
						"<script src='/js/plugins/codemirror/addon/trailingspace.js' type='text/javascript' />"+
						"<script src='/js/plugins/codemirror/addon/closetag.js' type='text/javascript' />"+
						"<script src='/js/plugins/codemirror/addon/overlay.js' type='text/javascript' />"+
						"<script src='/js/plugins/codemirror/addon/fullscreen.js' type='text/javascript' />"+
						"<script src='/js/plugins/codemirror/addon/simplescrollbars.js' type='text/javascript' />"+
						"<script src='/js/plugins/codemirror/keymap/sublime.js' type='text/javascript' />"+
						"<script src='/js/plugins/codemirror/mode/xml/xml.js' type='text/javascript' />"+
						"<script src='/js/plugins/codemirror/mode/css/css.js' type='text/javascript' />"+
						"<script src='/js/plugins/codemirror/mode/javascript/javascript.js' type='text/javascript' />"+
						"<script src='/js/plugins/codemirror/mode/htmlmixed/htmlmixed.js' type='text/javascript' />"+
						"<script src='/js/plugins/codemirror/mode/sql/sql.js' type='text/javascript' />"+
						"<script type='text/javascript' src='/js/Newmips/editor.js'/>");
						isEditorStarted = true;
					}, 500);
				}
			});

			/////////
			// Set Logo
			/////////
			dropzoneSetLogo.on("complete", function(file, response) {
				$("form#previewForm").submit();
			});

			$(document).on("click", "#addLogo", function(){
				dropzoneSetLogo.processQueue();
			});

			$('#modalsetlogo').on('hidden.bs.modal', function () {
				$("input[name='set_logo']").val("");
				dropzoneSetLogo.removeAllFiles(true);
			});

			/////////
			// Input instruction
			/////////
			var reg = new RegExp(/[^a-zA-Z0-9àâçéèêëîïôûùüÿñ_\-\,\ \'\!]/);
			/*$("#instruction").keyup(function(e) {
				while (reg.test($(this).val()))
					$(this).val($(this).val().substring(0, $(this).val().length-1))
			});*/

			var idApplication = "#{session.application.id_application}";
			var instructionHistory = JSON.parse(localStorage.getItem("newmips_given_instruction_history_"+idApplication));
			var indexInstructionSelected = instructionHistory !== null ? instructionHistory.length : 0;
			$("input#instruction").css("transition", "color 0.2s");

			$(document).on("keydown", "input#instruction", function(e){
				if(instructionHistory != null){
					/* UP ARROW */
					if (e.ctrlKey) {
						if(e.which == "38"){
							$("input#instruction").css("color", "rgba(255,255,255,0)");
							if(--indexInstructionSelected < 0)
								indexInstructionSelected = 0;
							setTimeout(function(){$("input#instruction").val(instructionHistory[indexInstructionSelected])}, 200);
							setTimeout(function(){$("input#instruction").css("color", "#555")}, 300);
						}
						/* DOWN ARROW */
						else if(e.which == "40"){
							$("input#instruction").css("color", "rgba(255,255,255,0)");
							if(++indexInstructionSelected > instructionHistory.length-1){
								indexInstructionSelected = instructionHistory.length;
								$("input#instruction").val("");
							}
							else{
								setTimeout(function(){$("input#instruction").val(instructionHistory[indexInstructionSelected])}, 200);
							}
							setTimeout(function(){$("input#instruction").css("color", "#555")}, 300);
						}
					}
				}
			});

			$(document).on("submit", "form#previewForm", function(e) {
				if($("#instruction").val() == ""){
					toastr.error("Error, empty instruction.");
					return false;
				}

				var setLogoInstructions = ["add logo", "add a logo", "set a logo", "set logo", "mettre un logo", "mettre logo", "ajouter logo", "ajouter un logo"];
				var givenInstruction = $("#instruction").val().toLowerCase().trim();
				var logoFileName = $("input[name='set_logo']").val();
				if(setLogoInstructions.indexOf(givenInstruction) != -1 && logoFileName == ""){
					// Ask to add a logo
					$('#modalsetlogo').modal();
					return false;
				} else if (setLogoInstructions.indexOf(givenInstruction) != -1 && logoFileName != ""){
					// Logo already given, now do the instruction and add the logo name in the form
					$("#instruction").val($("#instruction").val() + " " + logoFileName);
					$('#modalsetlogo').modal("toggle");
					$("input[name='set_logo']").val("");
					dropzoneSetLogo.removeAllFiles(true);
				}

				if ($("#instruction").val() != "restart server") {
					if (instructionHistory == null)
						instructionHistory = [];
			    	instructionHistory.push($("#instruction").val());
			        localStorage.setItem("newmips_given_instruction_history_"+idApplication, JSON.stringify(instructionHistory));
				}

				$("#execute_instruction").html("Loading...");
				$("#execute_instruction").prop("disabled", true);
				$("#loadingIframe").show();
				$.ajax({
					url: "/application/fastpreview",
					method: 'POST',
					data: $(this).serialize(),
					success: function(data) {
						if(data.toRestart)
							return window.location.href = data.url;

						// Reload iframe
						var iframe = document.getElementById("iframe");
						iframe.src = data.iframe_url;

						// Update session screen
						if(typeof data.session.project.id_project !== "undefined" && data.session.project.id_project != null)
							$(".sessionProjectInfo").text(" "+data.session.project.id_project + " - " + data.session.project.name_project);
						else
							$(".sessionProjectInfo").text(" "+data.session.project.noProject);
						if(typeof data.session.application.id_application !== "undefined" && data.session.application.id_application != null)
							$(".sessionApplicationInfo").text(" "+data.session.application.id_application + " - " + data.session.application.name_application);
						else
							$(".sessionApplicationInfo").text(" "+data.session.application.noApplication);
						if(typeof data.session.module.id_module !== "undefined" && data.session.module.id_module != null)
							$(".sessionModuleInfo").text(" "+data.session.module.id_module + " - " + data.session.module.name_module);
						else
							$(".sessionModuleInfo").text(" "+data.session.module.noModule);
						if(typeof data.session.data_entity.id_data_entity !== "undefined" && data.session.data_entity.id_data_entity != null)
							$(".sessionEntityInfo").text(" "+data.session.data_entity.id_data_entity + " - " + data.session.data_entity.name_data_entity);
						else
							$(".sessionEntityInfo").text(" "+data.session.data_entity.noEntity);

						// Keep instructionHistory up to date
						instructionHistory = JSON.parse(localStorage.getItem("newmips_given_instruction_history_"+idApplication));
						indexInstructionSelected = instructionHistory !== null ? instructionHistory.length : 0;
						// User instruction
						var userItem = data.chat.items[data.chat.items.length-2];
						$("#chat-box").append("<div class='item'><img src=\"/img/user.png\" alt=\"user image\"><p class=\"message\"><a href=\"#\" class=\"name\"><small class=\"text-muted pull-right\">"+userItem.dateEmission+"</small>"+userItem.user+"</a><span class=\"standard-writing\" style=\"display: block;\">"+userItem.content+"</span></p></div><hr>");

						// Mipsy answer
						var mipsyItem = data.chat.items[data.chat.items.length-1];
						getTranslation(mipsyItem.content, mipsyItem.params, function(mipsyAnswer){
							$("#chat-box").append("<div class='animated pulse item'><img src=\"/img/avatar.png\" alt=\"user image\"><p class=\"message\"><a href=\"#\" class=\"name\"><small class=\"text-muted pull-right\">"+mipsyItem.dateEmission+"</small>"+mipsyItem.user+"</a><span class=\"standard-writing\" style=\"display: block;\">"+mipsyAnswer+"</span></p></div><hr>");

							$("#instruction").val("");
							$("#instruction").blur().focus();
							$("#execute_instruction").html("Executer");
							$("#execute_instruction").prop("disabled", false);

							var bottomCoord = $('#chat-box')[0].scrollHeight;
							$('#chat-box').slimScroll({scrollTo: bottomCoord});

							// Update UI Editor selector with new entities
							var defaultUISelectorText = $("#entitySelect option")[0].text;
							$("#entitySelect").empty();
							$("#entitySelect").append("<option default value=''>"+defaultUISelectorText+"</option>");
							for(var i=0; i<data.entities.length; i++){
								$("#entitySelect").append("<option value='"+data.entities[i].codeName+"'>"+data.entities[i].name+"</option>");
							}

							// Update Editor file selection
							$("ul#sortable.sidebar-menu").empty();
							function recursiveEditorFolders(folder){
								var tmpContent = "";
								if(folder){
									for(var i=0; i<folder.length; i++){
										var file = folder[i];
										if (typeof file.path !== "undefined"){
											tmpContent += "<li><a href='#' data-path='"+file.path+"' data-filename='"+file.title+"' class='load-file'><i class='fa fa-file'></i> "+file.title+"</a></li>";
										} else if (typeof file.under !== "undefined"){
											tmpContent += "<li style='display:block;' class='ui-state-default treeview'><a href='#'><i class='fa fa-folder'></i><span>"+file.title+"</span><i class='fa pull-right fa-angle-left'></i></a><ul class='treeview-menu'>";
											tmpContent += recursiveEditorFolders(file.under);
											tmpContent += "</ul></li>";
										}
									}
								}
								return tmpContent;
							}
							var content = recursiveEditorFolders(data.workspaceFolder);
							$("ul#sortable.sidebar-menu").append(content);
							$(".sidebar .treeview").tree();
							// Reset Editor
							if(typeof myEditor !== "undefined"){
								$("#codemirror-editor li.load-file").each(function(){
									$(this).remove();
								});
								myEditor.setValue("");
								myEditor.clearHistory();
								myEditor.refresh();
								myEditor.clearGutter();
								$(".CodeMirror-code").empty();
							}
							// Wait a little for Iframe to refresh
							setTimeout(function(){
								$("#loadingIframe").hide();
							}, 300);
						});
		            },
		            error: function(error) {
		                console.log(error);
		                toastr.error("Sorry, an error occured :/");
		            }
		        });
		        return false;
			});

			/////////
			// Autocomplete
			/////////
			$(document).on("keyup", "input#instruction", function(e){
				if (e.ctrlKey)
					return;
				var newstr = $("#instruction").val();

				function split( val ) {
			    	return val.split( /,\s*/ );
			    }
			    function extractLast( term ) {
			    	return split( term ).pop();
			    }

		        $("#instruction").autocomplete({
		            autoFocus: true,
		            delay: 0,
		            source: function(request, response) {
		                $.getJSON('/default/completion', {
		                    "str": newstr
		                }, response);
		            },
		            search: function() {
		                return true;
		            },
		            focus: function() {
		                // prevent value inserted on focus
		                return false;
		            },
		            select: function(event, ui) {

		            	var ENTERKEY = 13;
		            	if (event.keyCode != ENTERKEY) {
			                var completeVal = ui.item.value;
			                // If complete value have already typed string in it, dont concat with current value
			                if (completeVal.indexOf(this.value) == 0) {
			                    this.value = completeVal.split("[variable]").join("").trim();
			                } else {
			                    // Remove the last word of already typed instruction because it is also in the completed value
			                    var parts = this.value.split(' ');
			                    if (parts[parts.length - 1] == " ")
			                        parts.pop();
			                    else {
			                        compareNum = 0;
			                        l = Math.min(completeVal.length, parts[parts.length - 1].length);
			                        for (i = 0; i < l; i++) {
			                            if (completeVal.charAt(i) == parts[parts.length - 1].charAt(i)) compareNum++;
			                        }
			                        if (compareNum <= completeVal.length && completeVal.substring(0, compareNum) == parts[parts.length - 1])
			                            parts.pop();
			                    }
			                    this.value = parts.join(' ') + ' ' + completeVal.split("[variable]").join("").trim();
			                }

			                var TABKEY = 9;
				            if (event.keyCode == TABKEY) {
				                event.preventDefault();
				                this.value = this.value+" ";
				                $('#instruction').focus();
				            }
			                return false;
			            } else {
			            	event.preventDefault();
			            	$('#execute_instruction').click();
			            	return false;
			            }
		            }
		        });
				// }
			});

			$(document).on("click", "#restart-server", function(e){
				$("#instruction").val("restart server");
				//$("#execute_instruction").trigger("click");
				$("form#previewForm").submit();
			});

			/////////
			// Logs
			/////////
			var scrolled = false;
			function updateScroll(){
			    if(!scrolled){
			        var element = document.getElementById("logs-content");
			        element.scrollTop = element.scrollHeight;
			    }
			}

			function fetchStatus() {
			    $.ajax({
			        url: '/default/update_logs',
			        success: function(data) {
		                $("#logs-content").html(data);
		                updateScroll();
		                setTimeout(fetchStatus, 1000);
			        },
			        error: function(err) {
			            console.log(err);
			        }
			    });
			}

			$(document).on("click", "#start-logs", function(){
				fetchStatus();
				updateScroll();

				$("#logs-content").on('click', function(){
					scrolled=scrolled?false:true;
				});
			});
		});
