extends ../main_layout
block header
	.row
		.col-header.col-xs-3.col-lg-9
			h1
				| #{__("module.manager")}
				small #{__("module.module")}
		.col-header.col-xs-3.col-lg-1
			.clearfix
				span.pull-left Instructions
				small.pull-right
					if cptInstruction > 300
						b
							| 300+
					else
						b
							| #{cptInstruction}
			.progress.xs(style="margin-bottom:0px;")
				.progress-bar.progress-bar-striped(role='progressbar', aria-valuenow='#{pourcentInstruction}', aria-valuemin='0', aria-valuemax='100', style='width:#{pourcentInstruction}%')
		.col-header.col-xs-3.col-lg-1(style="padding:0px;")
			ol.breadcrumb
				li
					a(href='/default/home')
						i.fa.fa-home
						| #{__("module.home")}
				li.active #{__("module.manager")}
		.col-header.col-xs-3.col-lg-1
			a.btn.btn-default.pull-right(href='/logout')
				i.fa.fa-sign-out.fa-md &nbsp;&nbsp;
				span #{__("button.disconnect")}
block custom_css
	// CodeMirror
	link(href='/css/codemirror/codemirror.css', rel='stylesheet', type='text/css')
	link(href='/css/codemirror/customcodemirror.css', rel='stylesheet', type='text/css')
	// Addons CSS
	link(href='/js/plugins/codemirror/addon/dialog.css', rel='stylesheet', type='text/css')
	link(href='/js/plugins/codemirror/addon/fullscreen.css', rel='stylesheet', type='text/css')
	link(href='/js/plugins/codemirror/addon/simplescrollbars.css', rel='stylesheet', type='text/css')
block content
	#tabs.nav-tabs-custom(style="margin-bottom:0px;")
		ul.nav.nav-tabs#primary-navtabs(role="tablist")
			li.active
				a(role="primaryTab", data-toggle='tab', href='#preview') #{__("module.preview.title")}
			li
				a#start-editor(role="primaryTab", data-toggle='tab', href='#editor') #{__("module.editor")}
		.tab-content
			#preview.tab-pane.fade.in.active
				.row
					.col-xs-12.col-md-8.col-lg-9
						.row
							.col-xs-12.connectedSortable
								.box-body
									div.responsive-iframe
										img.iframe-ratio(src="data:image/gif;base64,R0lGODlhEAAJAIAAAP///wAAACH5BAEAAAAALAAAAAAQAAkAAAIKhI+py+0Po5yUFQA7")
										iframe(id="iframe", name="iframe", height="800px", width="600px", src="#{iframe_url}", webkitAllowFullScreen, mozallowfullscreen, allowFullScreen)
									br
					.col-xs-12.col-md-4.col-lg-3
						// Chat box
						form(action='/application/preview', method='post')
							.box.box-solid
								.box-header
									h4.box-title
										i.fa.fa-comments-o
										|  Instructions
								#chat-box.box-body.chat
									// Each item has : user, dateEmission, content
									each item in chat.items
											hr
											.item
												if (item.user == "Newmips")
													img(src='/img/avatar.png', alt='user image')
												else
													img(src='/img/user.png', alt='user image')
												p.message
													a.name(href='#')
														small.text-muted.pull-right
															| #{item.dateEmission}
														if (item.user == "Newmips")
															| Newmips
														else
															| #{profile.first_name_user} #{profile.last_name_user}
													| !{item.content}
								.box-footer
									.row
										.col-xs-1
											a.btn.btn-default(href="#", id="btn-speech", alt="Enregistrer une instruction")
												i.fa.fa-microphone.fa-md
										.col-xs-11
											.input-group
												input.form-control(id='instruction', name='instruction', type='text', autofocus, value='' x-webkit-speech)
												input.form-control.input(id='iframe_url', name='iframe_url', type='hidden', value='#{iframe_url}')
												input.form-control.input(id='iframe', name='iframe', type='hidden', value='true')
												input.form-control.input(id='chat', name='chat', type='hidden', value='#{JSON.stringify(chat)}')
												.input-group-btn
													button.btn.btn-success#execute_instruction
														| #{__("button.execute")}
						// Session
						.box.box-solid
							.box-header
								h4.box-title
									i.fa.fa-gear
									|  Session
							.box-body
								.callout.callout-warning
									| #{__("entity.project.label")} : #{session.project.id_project} - #{session.project.name_project}
									br
									| #{__("entity.application.label")} : #{session.application.id_application} - #{session.application.name_application}
									br
									| #{__("entity.module.label")} : #{session.module.id_module} - #{session.module.name_module}
									br
									| #{__("entity.data_entity.label")} : #{session.data_entity.id_data_entity} - #{session.data_entity.name_data_entity}
								a.btn.btn-info#restart-server(href="#")
									i.fa.fa-refresh
									|&nbsp; #{__("module.preview.reload")}
								|&nbsp;&nbsp;
								a.pull-right.btn.btn-warning(target="_blank", href="https://github.com/newmips/newmips/issues/new")
									i.fa.fa-lg.fa-github
									|&nbsp; #{__("module.preview.issue-button")}
			#editor.tab-pane.fade.in
				.row
					#codemirror-menu.col-xs-12.col-sm-2.sidebar
						h4
							| #{__("module.editor_content.folders")} :
						ul#sortable.sidebar-menu
							mixin parseObject(array)
								if array
									each file, key in array
										if (typeof file.path !== "undefined")
											li
												a.load-file(href='#', data-path="#{file.path}", data-filename="#{file.title}")
													i.fa.fa-file
													|  #{file.title}
										else if (typeof file.under !== "undefined")
											li.ui-state-default.treeview(style='display:block;')
												a(href='#')
													i.fa.fa-folder
													span #{file.title}
													i.fa.fa-angle-left.pull-right
												ul.treeview-menu
													mixin parseObject(file.under)
							mixin parseObject(workspaceFolder)
					#codemirror-editor.col-xs-12.col-sm-10
						h4
							| #{__("module.editor_content.editor")} :
						#tabs-editor.nav-tabs-custom(style="margin-bottom:0px;")
							ul.nav.nav-tabs#editor-navtabs(role="filelist")
				br
				.row
					.col-xs-5.col-sm-offset-2
						button#update-file.btn.btn-primary(disabled="true") #{__("button.save")}
					.col-xs-5
						span.pull-right(style="margin-right:50px;")
							b
								| #{__("module.editor_content.change_theme")} :
						br
						select#select-theme.pull-right
							option(value="default") default
							option(value="3024-day") 3024-day
							option(value="3024-night") 3024-night
							option(value="abcdef") abcdef
							option(value="ambiance-mobile") ambiance-mobile
							option(value="ambiance") ambiance
							option(value="base16-dark") base16-dark
							option(value="base16-light") base16-light
							option(value="bespin") bespin
							option(value="blackboard") blackboard
							option(value="cobalt") cobalt
							option(value="colorforth") colorforth
							option(value="dracula") dracula
							option(value="duotone-dark") duotone-dark
							option(value="duotone-light") duotone-light
							option(value="eclipse") eclipse
							option(value="elegant") elegant
							option(value="erlang-dark") erlang-dark
							option(value="hopscotch") hopscotch
							option(value="icecoder") icecoder
							option(value="isotope") isotope
							option(value="lesser-dark") lesser-dark
							option(value="liquibyte") liquibyte
							option(value="material") material
							option(value="mbo") mbo
							option(value="mdn-like") mdn-like
							option(value="midnight") midnight
							option(value="monokai") monokai
							option(value="neat") neat
							option(value="neo") neo
							option(value="night") night
							option(value="panda-syntax") panda-syntax
							option(value="paraiso-dark") paraiso-dark
							option(value="paraiso-light") paraiso-light
							option(value="pastel-on-dark") pastel-on-dark
							option(value="railscasts") railscasts
							option(value="rubyblue") rubyblue
							option(value="seti") seti
							option(value="solarized") solarized
							option(value="the-matrix") the-matrix
							option(value="tomorrow-night-bright") tomorrow-night-bright
							option(value="tomorrow-night-eighties") tomorrow-night-eighties
							option(value="ttcn") ttcn
							option(value="twilight") twilight
							option(value="vibrant-ink") vibrant-ink
							option(value="xq-dark") xq-dark
							option(value="xq-light") xq-light
							option(value="yeti") yeti
							option(value="zenburn") zenburn
block custom_js
	// AdminLTE App
	script(src='/js/AdminLTE/app.min.js', type='text/javascript')
	// Speech Recognition
	script(src='/js/Newmips/speechRecognition.js', type='text/javascript')

	// CodeMirror
	script(src='/js/plugins/codemirror/codemirror.js', type='text/javascript')
	// Addon
	script(src='/js/plugins/codemirror/addon/multiplex.js', type='text/javascript')
	script(src='/js/plugins/codemirror/addon/search.js', type='text/javascript')
	script(src='/js/plugins/codemirror/addon/searchcursor.js', type='text/javascript')
	script(src='/js/plugins/codemirror/addon/dialog.js', type='text/javascript')
	script(src='/js/plugins/codemirror/addon/matchbrackets.js', type='text/javascript')
	script(src='/js/plugins/codemirror/addon/closebrackets.js', type='text/javascript')
	script(src='/js/plugins/codemirror/addon/trailingspace.js', type='text/javascript')
	script(src='/js/plugins/codemirror/addon/closetag.js', type='text/javascript')
	script(src='/js/plugins/codemirror/addon/overlay.js', type='text/javascript')
	script(src='/js/plugins/codemirror/addon/fullscreen.js', type='text/javascript')
	script(src='/js/plugins/codemirror/addon/simplescrollbars.js', type='text/javascript')
	// Keymap
	script(src='/js/plugins/codemirror/keymap/sublime.js', type='text/javascript')
	// Modes
	script(src='/js/plugins/codemirror/mode/xml/xml.js', type='text/javascript')
	script(src='/js/plugins/codemirror/mode/css/css.js', type='text/javascript')
	script(src='/js/plugins/codemirror/mode/javascript/javascript.js', type='text/javascript')
	script(src='/js/plugins/codemirror/mode/htmlmixed/htmlmixed.js', type='text/javascript')
	script(src='/js/plugins/codemirror/mode/sql/sql.js', type='text/javascript')
	// Editor
	script(type='text/javascript').
		var intro2 = "#{__('module.editor_content.intro')}" + "\n";
		intro2 += "#{__('module.editor_content.intro2')}" + "\n";
		intro2 += "#{__('module.editor_content.intro3')}";
	script(type='text/javascript').
		$(function() {

			var isEditorStarted = false;

			$(document).on("click", "#start-editor", function(){
				if(!isEditorStarted){
					// Tabs display/animation need to be completely finished to instanciate the editor
					setTimeout(function(){
						$("body").append("<script type='text/javascript' src='/js/Newmips/editor.js'/>");
						isEditorStarted = true;
					}, 400);
				}
			});

			// Retrieve chat instructions
			var tab_instr = [];
			var current_instr = -1;
			var chat_instr = "#{JSON.stringify(chat.items)}";
			var d = document.createElement( 'div' );
			d.innerHTML = chat_instr;
			chat_instr = d.textContent;
			chat_instr = JSON.parse(chat_instr);

			var j = 0;
			for(var i in chat_instr)	{
				if (chat_instr[i].user == "User") {
					tab_instr[j] = chat_instr[i].content;
					j++;
				}
			}

			$("#instruction").keyup(function(e) {
				var reg = new RegExp("[^a-zA-Z0-9àâçéèêëîïôûùüÿñ-, ']");
				while (reg.test($(this).val()))
					$(this).val($(this).val().substring(0, $(this).val().length-1))
			});

			$(document).on("click", "#execute_instruction", function(e){
				if($("#instruction").val() == ""){
					toastr.error("Error, empty instruction.")
					e.preventDefault();
					e.stopPropagation();
				}
				else{
					$(this).html("Loading...");
					$(this).prop("disabled", true);
					$(this).parents('form').submit();
				}
			});

			$(document).on("click", "#restart-server", function(e){
				$("#instruction").val("restart server");
				$("#execute_instruction").trigger("click");
			});
		});
