extends ../main_layout
block header
	.row
		.col-header.col-xs-3.col-lg-9
			h1
				| #{__("menu.settings")}
				small #{__("menu.module")}
		.col-header.col-xs-3.col-lg-1
			.clearfix
				span.pull-left Instructions
				small.pull-right
					if cptInstruction > 300
						b
							| 300+
					else
						b
							| #{cptInstruction}
			.progress.xs(style="margin-bottom:0px;")
				.progress-bar.progress-bar-striped(role='progressbar', aria-valuenow='#{pourcentInstruction}', aria-valuemin='0', aria-valuemax='100', style='width:#{pourcentInstruction}%')
		.col-header.col-xs-3.col-lg-1(style="padding:0px;")
			ol.breadcrumb
				li
					a(href='/default/home')
						i.fa.fa-home
						| #{__("menu.home")}
				li.active #{__("menu.settings")}
		.col-header.col-xs-3.col-lg-1
			a.btn.btn-default.pull-right(href='/logout')
				i.fa.fa-sign-out.fa-md &nbsp;&nbsp;
				span #{__("button.disconnect")}
block content
	.row
		.col-xs-12.connectedSortable
			a.btn.btn-default.pull-right(href='/default/home')
				i.fa.fa-arrow-left.fa-md &nbsp;&nbsp;
				span #{__("button.backtohome")}
			br
			br
			br
			.box.box-solid.box-default
				.box-header.bg-newmips
					h3.box-title(style="color: #fff") #{__("settings.legend")}
				.box-body
					.form-group
						label #{__("settings.display_language")}
						br
						br
						a.chooseLanguage.btn(data-lang='fr-FR', class="#{getLang()}"=="fr-FR"?"btn-primary":"btn-default")
							| #{__("settings.french")}
						| &nbsp;&nbsp;
						a.chooseLanguage.btn(data-lang='en-EN', class="#{getLang()}"=="en-EN"?"btn-primary":"btn-default")
							| #{__("settings.english")}
					br
					.form-group
						label #{__("settings.activate_translation")}
						br
						br
						a.chooseTranslate.btn(data-activate="true", class=toTranslate?"btn-primary":"btn-default")
							| #{__("button.yes")}
						| &nbsp;&nbsp;
						a.chooseTranslate.btn(data-activate="false", class=toTranslate?"btn-default":"btn-primary")
							| #{__("button.no")}

block custom_js
	script.
		$(document).ready(function() {
			$(document).on("click", ".chooseLanguage", function(){
				var lang = $(this).data("lang");
				var ajaxdata = {
					lang: lang
				};

				$.ajax({
					url : '/settings/change_language',
					type : 'POST',
					data : JSON.stringify(ajaxdata),
					dataType : 'json',
					contentType: "application/json",
					context: this,
					success: function (data) {
						if(data.success){
							location.reload();
						}
					},
					error: function (error) {
						console.log(error);
						toastr.error(error);
					}
				});
			});

			$(document).on("click", ".chooseTranslate", function(){
				var activate = $(this).data("activate");
				var ajaxdata = {
					activate: activate
				};

				$.ajax({
					url : '/settings/activate_translation',
					type : 'POST',
					data : JSON.stringify(ajaxdata),
					dataType : 'json',
					contentType: "application/json",
					context: this,
					success: function (data) {
						if(data.success){
							location.reload();
						}
					},
					error: function (error) {
						console.log(error);
						toastr.error(error);
					}
				});
			});
		});