extends ../main_layout
block custom_css
	link(href='/css/animated.css', rel='stylesheet', type='text/css')
	style.
		/*.theme-box .box-footer a span {
			max-width: 0;
			-webkit-transition: -webkit-transform 0.3s ease-in-out, max-width 0.3s ease-in-out;
			-moz-transition: -moz-transform 0.3s ease-in-out, max-width 0.3s ease-in-out;
			-o-transition: -o-transform 0.3s ease-in-out, max-width 0.3s ease-in-out;
			transition: transform 0.3s ease-in-out, max-width 0.3s ease-in-out;
			display: inline-block;
			vertical-align: top;
			white-space: nowrap;
			overflow: hidden;
		}
		.theme-box .box-footer a:hover span {
			max-width: 15rem;
		}*/
block header
	.row
		.col-header.col-xs-12.col-sm-4.col-md-5.col-lg-8
			h1
				img(src="/img/FAVICON-GRAND-01.png", alt="Newmips Logo", style="width:44px;display:inline;margin-left:15px; margin-right:15px;")
				| #{__("menu.themes")}
				small #{__("menu.module")}

		.hidden-xs.col-sm-2.col-md-2.col-lg-1
			.clearfix
				span.pull-left Instructions
				small.pull-right
					if cptInstruction > 300
						b
							| 300+
					else
						b
							| #{cptInstruction}
			.progress.xs(style="margin-bottom:0px;")
				.progress-bar.progress-bar-striped.progress-bar-success(role='progressbar', aria-valuenow='#{pourcentInstruction}', aria-valuemin='0', aria-valuemax='100', style='width:#{pourcentInstruction}%')

		.col-xs-12.col-sm-6.col-md-5.col-lg-3
			.btn-group.pull-right(role="group")
				a.btn.btn-default(href='/default/home')
					i.fa.fa-home(style="margin-right:5px;")
					| #{__("menu.home")}
				a.btn.btn-default(href='/account')
					i.fa.fa-user(style="margin-right:5px;")
					| #{__("menu.account")}
				a.btn.btn-default.pull-right(href='/logout')
					i.fa.fa-sign-out.fa-md &nbsp;&nbsp;
					span #{__("button.disconnect")}

block content
	.row
		.col-xs-12.col-lg-offset-2.col-lg-8
			.box.box-solid.box-default
				.box-header.bg-primary
					h3.box-title(style="color: #fff") #{__("menu.themes")}
				.box-body
					br
					.row
						.col-xs-6
							a.btn.btn-primary(href="/themes/download_default")
								i.fa.fa-download.fa-md &nbsp;&nbsp;
								| #{__('themes.download-default')}
						.col-xs-6
							form.pull-right(action='/themes/upload_theme', id='uploadThemeForm', method='POST', enctype="multipart/form-data")
								input#themeFile(type="file", style='display: none;', name="themefile")
								button.btn.btn-success#uploadThemeBtn(type="button")
									i.fa.fa-upload.fa-md &nbsp;&nbsp;
									| #{__('themes.add-theme')}
					br

					//.row(style="display: none;")
						form(action='/instruction_script/execute', id='instructionsScript', method='POST', enctype="multipart/form-data", style="display: none;")
							textarea#createScriptTextarea(name='instructionsText', cols='150', rows='10', style='float:left;display: none;')
								| !{contentArea}
							a#addScript(href="#")

					//.row#generateRow(style="display: none;")
						.col-xs-12
							| #{__("themes.generating")}
							br
							button.btn.btn-success#goTo(disabled, style='display:none;')
								| #{__("instructionScript.redirecting")}
							br
							.progress.sm.progress-striped.active(id='progressbarcontent', style='display:none;')
								.progress-bar.progress-bar-success(id='progressbar', aria-valuenow='0', aria-valuemin='0', aria-valuemax='100', style='width:0%;')
							.form-group(style='display:none;')
								.form-control.div(id='answers', name='answers', style="height: 500px;overflow:auto")
									| !{answers}
					br
					.row
						for theme in availableTheme
							.col-xs-4(id="box-#{theme.codeName}")
								.box.theme-box.animated.fadeIn
									.box-header.with-border(style="border-bottom: 1px solid #f4f4f4;")
										h3.box-title #{theme.name}
										.pull-right(style="height: 20px;width: 20px; background-color: #{theme.main_color}; border-radius: 2px;margin: 10px 10px 10px 0px;")
									.box-body
										img(src="data:image/;base64,#{theme.buffer}", width="100%", height="150px")
									.box-footer(style="height:55px;")
										.pull-left(style="margin-top: 6px;")
											//a.btn.btn-primary#previewTheme(data-codename="#{theme.codeName}")
												i.fa.fa-eye.fa-md
												span &nbsp;&nbsp;
													| #{__('button.preview')}
											label(style="display: block;padding-left: 15px;text-indent: -15px;cursor:pointer;")
												if defaultTheme == theme.codeName
													input.defaultThemeInput(type='checkbox', style="margin:0;vertical-align: bottom;position: relative;top: -1px;*overflow: hidden;", data-codename="#{theme.codeName}", checked)
												else
													input.defaultThemeInput(type='checkbox', style="margin:0;vertical-align: bottom;position: relative;top: -1px;*overflow: hidden;", data-codename="#{theme.codeName}")
												| &nbsp;&nbsp;Thème par défaut
										.pull-right
											a.btn.btn-danger#deleteTheme(data-codename="#{theme.codeName}")
												i.fa.fa-close.fa-md
												span &nbsp;&nbsp;
													| #{__('button.delete')}
block custom_js
	script(src='/js/Newmips/instructionsScriptStatus.js', type='text/javascript')
	script.
		var wrongExt = "#{__('themes.wrongExt')}";
		$(document).ready(function() {
			/*$(document).on("click", ".theme-box .box-footer a#previewTheme", function(){
				var codeNameTheme = $(this).data("codename");
				var instructions = ""+
				"add project My Project "+codeNameTheme+"\n"+
				"add application My App "+codeNameTheme+"\n"+
				"set theme "+codeNameTheme;

				$("#createScriptTextarea").text(instructions);
				$("#instructionsScript").submit();

				$("html, body").animate({ scrollTop: 0 }, "slow");
				$("#generateRow").show();
			});*/

			$(document).on("click", "input[type='checkbox'].defaultThemeInput", function(){
				var currentChecked = $("input[type='checkbox'].defaultThemeInput:checked").not("[data-codename='"+$(this).attr("data-codename")+"']");
				var currentClicked = $(this);
				if(currentChecked.length == 0)
					currentClicked.prop("checked", true);
				else
					currentChecked.prop("checked", false);
					$.ajax({
		                url: "/themes/default_theme",
		                method: 'post',
		                data: {theme: $(this).data("codename")},
		                context: this,
		                success: function() {
		                },
		                error: function(err) {
		                    console.log(err);
		                }
		            });
			});

			$(document).on("click", ".theme-box .box-footer a#deleteTheme", function(){
				var confirm = window.confirm("#{__('listApplication.sureToDelete')}");
				if(confirm){
					$.ajax({
		                url: "/themes/delete_theme",
		                method: 'post',
		                data: {theme: $(this).data("codename")},
		                context: this,
		                success: function() {
		                	$("#box-"+$(this).data("codename")).remove();
		                },
		                error: function(err) {
		                    console.log(err);
		                }
		            });
				}
			});

			$(document).on("click", "#uploadThemeBtn", function(){
				$("#themeFile").trigger("click");
			});

			$(document).on("change", "#themeFile", function(){
				var filePath = $(this).val();
				var fileExt = filePath.split(".");
				fileExt = fileExt[fileExt.length - 1];
				if(fileExt != "zip")
					toastr.error(wrongExt);
				else {
					$("#uploadThemeForm").submit();
				}
			});
		});