extends ../login_layout
block content
    .header #{__("login.first_connection.title")}
    form#first_connection(action='/first_connection', method='post')
        .body.bg-white
            center
                img(src='/img/logo_newmips.png', width='50%', height='50%')
        .body.bg-gray
            .form-group
                label(for='login_user') #{__("login.login")}
                input.form-control(type='text', name='login_user', placeholder='#{__("login.login")}', required)
            .form-group
                label(for='email_user') #{__("login.mail")}
                input.form-control(type='text', name='email_user', placeholder='#{__("login.mail")}', required)
            .form-group
                label(for='password') #{__("login.password")} #{__("login.minimalLength")}
                input.form-control(type='password', name='password_user', id='password', placeholder='#{__("login.password")}',required)
            .form-group
                label(for='password2') #{__("login.confirm_password")}
                input.form-control(type='password', name='password_user2', id='confirm_password', placeholder='#{__("login.password")}',required)
        .footer
            button.btn.btn-primary.btn-block(type='submit') #{__("login.submit")}
block custom_js
    - var notMatchPasswordText = __("login.first_connection.passwordNotMatch", []);
    script(type='text/javascript').
        $(document).ready(function(){
            $(document).on("keyup", "#confirm_password", function(){
                if($("#confirm_password").val() != $("#password").val()){
                    $(this).attr("style", "border: 1px solid red !important; border-color: red !important;");
                } else if($("#confirm_password").val() != ""){
                    $(this).attr("style", "border: 1px solid green !important; border-color: green !important;");
                } else{
                    $(this).attr("style", "");
                }
            });

            $(document).on("keyup", "#password", function(){

                if($(this).val().length < 8){
                    $(this).attr("style", "border: 1px solid red !important; border-color: red !important;");
                } else{
                    $(this).attr("style", "border: 1px solid green !important; border-color: green !important;");
                }

                if($("#confirm_password").val() != $("#password").val() && $("#confirm_password").val() != ""){
                    $("#confirm_password").attr("style", "border: 1px solid red !important; border-color: red !important;");
                } else if($("#confirm_password").val() != ""){
                    $("#confirm_password").attr("style", "border: 1px solid green !important; border-color: green !important;");
                } else{
                    $("#confirm_password").attr("style", "");
                }
            });

            $(document).on("submit", "#first_connection", function(){
                if($("#confirm_password").val() != $("#password").val() || $("#password").val().length < 8){
                    toastr.error("#{notMatchPasswordText}");
                    return false;
                } else{
                    $(this).submit();
                    return true;
                }
            });
        });
