extends ../login_layout
block content
    .header #{__("login.reset_password")}
    form(action='/reset_password', method='post')
        .body.bg-white
            center
                img(src='/img/logo_newmips.png', width='50%', height='50%')
        .body.bg-gray
            .form-group
                label(for='login') #{__("login.login")}
                input.form-control(type='text', name='login', placeholder=__("login.login"), required)
            .form-group
                label(for='mail') #{__("login.mail")}
                input.form-control(type='mail', name='mail', placeholder=__("login.mail"), required)
        .footer
            button.btn.btn-primary.btn-block(type='submit') #{__("login.submit")}
