extends ../../main_layout
block custom_css
	// DataTable
	link(href='/css/Datatables/dataTables.bootstrap.css', rel='stylesheet', type='text/css')
block header
	h1
		| #{__("menu.users")}
		small #{__("menu.back")}
	ol.breadcrumb
		li
			a(href='/')
				i.fa.fa-home
				| #{__("menu.home")}
		li.active #{__("menu.back")}
block content
	legend Lister tous les Utilisateurs
	.row
		.col-xs-12.connectedSortable
			.box-body.table-responsive
				table#list-user.table.table-bordered.table-striped
					thead
						tr
							th ID
							th Login
							th Role
							th
					tbody
						each user in users
							tr
								td #{user.id}
								td #{user.login}
								td #{user.Role.name}
								td
									a(href='/users/show?id_user=#{user.id}')
										button.btn.btn-primary
											i.fa.fa-desktop.fa-md &nbsp;&nbsp;
											span Afficher
block custom_js
	// DataTable SCRIPT
	script(src='/js/plugins/datatables/jquery.dataTables.js', type='text/javascript')
	script(src='/js/plugins/datatables/dataTables.bootstrap.js', type='text/javascript')
	// Page script
	script(src='/js/AdminLTE/tables/data.js',type='text/javascript')
	script(type='text/javascript').
		$('#list-user').dataTable().fnDestroy();
		$('#list-user').dataTable({
			"bPaginate": true,
			"bLengthChange": true,
			"bFilter": true,
			"bSort": true,
			"bInfo": true,
			"bAutoWidth": true,
			"bRetrieve": true,
			"oLanguage": { "sUrl": "/js/UI/jquery-datatables_#{getLang()}.js" }
		});
