extends ../../main_layout
block header
	h1
		| #{__("menu.users")}
		small #{__("menu.back")}
	ol.breadcrumb
		li
			a(href='/')
				i.fa.fa-home
				| #{__("menu.home")}
		li.active #{__("menu.back")}
block content
	legend #{__("back.show")} #{__("menu.users")}
	.row
		.col-xs-12.connectedSortable
			.box-body
				.form-group
					label(for='id_user') Identifiant
					input.form-control(type='text', placeholder='#{user.id}', disabled)
				.form-group
					label(for='login_user') Login
					input.form-control(type='text', placeholder='#{user.login}', disabled)
				.form-group
					label(for='password_user') Mot de passe
					input.form-control(type='password', placeholder='#{user.password}', disabled)
				.form-group
					label(for='libelle_profil') Role
					input.form-control(type='text', placeholder='#{user.Role.name}', disabled)
				br
			.box-footer
				div.quicklinks
					span
						a.btn.btn-primary(href='/users/list', type='submit')
							i.fa.fa-list.fa-md &nbsp;&nbsp;
							span Lister
