extends ../main_layout
block header
	h1 #{__("menu.error")} #{code}
	ol.breadcrumb
		li
			a(href='/')
				i.fa.fa-dashboard
				| #{__("menu.home")}
		li
			a(href='#') #{__("menu.error")}
		li.active #{__("menu.error")} #{code}
block content
	.error-page
		h2.headline #{code}
		.error-content
			if (msg != "")
				h3
					i.fa.fa-warning.text-yellow
					| #{msg}
			else
				h3
					i.fa.fa-warning.text-yellow
					| #{__("error.oops")}
			p
				|#{__("error.textone")}
				a(href='/')&nbsp;#{__("error.texttwo")}
				|&nbsp;#{__("error.or")}&nbsp;
				a(href='javascript:history.back();') #{__("error.textthree")}
