extends ../../main_layout
block header
	h1
		| #{__("module.application")}
		small #{__("module.module")}
	ol.breadcrumb
		li
			a(href='#')
				i.fa.fa-home
				| #{__("module.home")}
		li.active #{__("module.application")}
block content
	legend #{__("operation.show")} #{__("entity.module.name")}
	.row
		.col-xs-12.connectedSortable
			.box-body
				.form-group
					label(for='id_module') #{__("entity.module.id_module")} #{__("entity.module.name")}
					input.form-control(type='text', placeholder='#{module.id}', disabled)
				.form-group
					label(for='name_module') #{__("entity.module.name_module")}
					input.form-control(type='text', placeholder='#{module.name}', disabled)
				.form-group
					label(for='id_module') #{__("entity.application.label")}
					input.form-control(type='text', placeholder='#{module.Application.name}', disabled)
			.box-footer
				div.quicklinks
					span
						a.btn.btn-primary(href='/module/list', type='submit')
							i.fa.fa-list.fa-md &nbsp;&nbsp;
							span #{__("button.list")}
